%% -*- erlang -*-
%% config xample app
{erl_opts, [debug_info]}.

{port_env, [{"(linux|darwin)", "CFLAGS", "$CFLAGS -O2 -g -Wall"}]}.


{port_specs, [
	      {"(linux|darwin)", "priv/xample",
	       ["c_src/xample_mem.c", "c_src/xample.c"]},

	      {"(linux|darwin)", "priv/xample_logger",
	       ["c_src/xample_mem.c", "c_src/xample_logger.c"]}
	     ]}.
