%% -*- erlang -*-
%% config xample app
{erl_opts, [debug_info]}.

{port_env, [{"CFLAGS", "$CFLAGS -DUSE_HIDAPI -I/usr/local/include/hidapi"},
	    {"(darwin)", "LDFLAGS", "$LDFLAGS -lhidapi"},
	    {"(linux)",  "LDFLAGS", "$LDFLAGS -L/usr/local/lib -lhidapi-hidraw -ludev"},
%%	    {"(linux)",  "LDFLAGS", "$LDFLAGS -L/usr/local/lib -lusb-1.0 -lhidapi-libusb"},
	    {"(linux|darwin)", "CFLAGS", "$CFLAGS -O2 -g -Wall"},
	    {"(linux)", "LDFLAGS", "$LDFLAGS -lrt -lm"}
	   ]}.

{port_specs, [
	      {"(linux|darwin)", "priv/xample",
	       ["c_src/xample_mem.c", "c_src/xample.c"]},

	      {"(linux|darwin)", "priv/xample_logger",
	       ["c_src/xample_mem.c", "c_src/xample_logger.c"]}
	     ]}.
